/*
* Globals
*/
@import "header.scss";
@import "footer.scss";
@import "cover.scss";
@import "sass/utilities/_all.sass";

/* Links */
a,
a:focus,
a:hover {

}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #444;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

/*
* Base structure
*/
html, body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*
* Contact page
*/

/*
* Frontpage
*/
.hero-section {
  background-color: $black-bis;
}

.blogpost-section {
  li {
    list-style-type: none;
    h2 {
      color: $white-bis;
    }
  }
}


/*
* Gallery page
*/
.gallery-section {
  height: 1500px;
}




/*
* Header
*/
.header-section {
  background-color: white;
}

.field-section {
  height: 40px;
  width: 200px;
  input {
    width: 100%;
  }
}





/*
* Cover
*/
.main-content {
  height: 800px;
}


/*
* Footer
*/
.footer-section-one {
  //border: 5px solid purple;
  background-color: #39454b;
  height: 300px;
  width: 100%;
  img {
    height: 128px;
    width: 128px;
  }
}

.footer-section-two {
  background-color: #344047;
  height: 40px;
  width: 100%;
  p {
    padding-top: 10px;
  }
}

.item-footer-left {
  grid-area: left;
}
.item-footer-middle {
  grid-area: middle;
}
.item-footer-right {
  grid-area: right;
}

.grid-container-footer {
  display: grid;
  height: 100%;
  grid-gap: 20px;
  padding: 20px;
  grid-template-areas:
  'left middle right'
  'left middle right'
  'left middle right';
  div {
    //border: solid yellow 2px;
    text-align: left;
    padding-left: 20px;

  }
  .item-footer-inner {
    //border: solid blue 1px;
    padding-left: 0px;
    margin-right: 20px;
    p {
      padding-top: 15px;
    }
    span {
      padding-top: 2em;
    }
  }
}







/*
* Affix and center
*/
