<div class="footer-section-one">
  <div class="grid-container-footer">
    <div class="item-footer-left">
      <a href="/">
        <figure class="image is-128x128">
          <img src="img/letter-f.png" />
        </figure>
      </a>
    </div>
    <div class="item-footer-middle">
      <h1 class="is-size-3">
        Freddans Blogg
      </h1>
      <div class="item-footer-inner has-text-grey-lighter is-size-4">
        <p>
          Show Profile
        </p>
        <p>
          Visit portfolio
        </p>
        <p>
          Contact
        </p>
        <p>
          About
        </p>
      </div>
    </div>
    <div class="item-footer-right">
      <h1 class="is-size-3">
        Social Media
      </h1>
      <div class="item-footer-inner has-text-grey-lighter">
        <ul class="menu-list">
          <li>
            <span class="icon is-large">
              <i class="fab fa-linkedin fa-3x"></i>
            </span>
          </li>
          <li>
            <span class="icon is-large">
              <i class="fab fa-instagram fa-3x"></i>
            </span>
          </li>
          <li>
            <span class="icon is-large">
              <i class="fab fa-twitter-square fa-3x"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-section-two" >
  <p class="is-size-5">
    @Freddans Blogg
  </p>
</div>
