<form method="POST" action="/login">
  <a class="navbar-link navbar-item" href="/">
    Admin
  </a>
  <div class="navbar-dropdown">
    <a class="navbar-item">
      <div class="field field-section">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email.." name="username">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field field-section">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field field-section">
        <p class="control">
          <button class="button is-light">
            Login
          </button>
        </p>
      </div>
    </a>
  </div>
</form>
