<h1> add a question to my FaQ </h1>
<form action="/add-faq" method="POST">
  <div>
    write a question here: <input class="input is-small" type="text" placeholder="Question.." name="question">
  </div>
  <input type="submit" value="send">
</form>
