<h2> FaQ Panel for Admin</h2>

<form action="/about/faq/update-answer/{{faqs.id}}" method="POST">
	<input type="hidden" value="{{token}}" name="token">
	<div>
		Question: <input type="text" name="question" value="{{faqs.question}}">
	</div>
	<div>
		Answer: <input type="text" name="answer" value="{{faqs.answer}}">
	</div>
	<input type="submit" value="Save">
</form>
