<div class="hero">
  <section class="hero is-success is-fullheight ">
    <div class="hero-body hero-section">
      <div class="container">
        <h1 class="title">
          Freddans Blogg
        </h1>
        <h2 class="subtitle" >
          Follow Freddans terrific and exciting adventures
        </h2>
      </div>
    </div>
  </section>
</div>
