<h1>Update Post</h1>

<form action="/blogpost/updatepost/{{blogpost.id}}" method="POST">
  <input type="hidden" value="{{token}}" name="token">
  <div>
    titlepost: <input type="text" name="titlepost" value="{{blogpost.title}}" >
  </div>
  <div>
    blogpost: <input type="text" name="blogpost" value="{{blogpost.comment}}">
  </div>
  <input type="submit" value="Save Changes" >
</form>
